/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000000;
}

img,
svg {
  display: block;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.button {
  padding: 24px 50px;
  font-family: TT Hoves;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  -webkit-transition: background-color 250ms linear, color 250ms linear;
  transition: background-color 250ms linear, color 250ms linear;
}

.button::after {
  content: "";
  display: inline-block;
  margin-left: 12px;
  width: 24px;
  height: 24px;
  -webkit-mask: url(../images/ArrowRight.svg) no-repeat 50% 50%;
  mask: url(../images/ArrowRight.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.button--light {
  color: #333333;
  background-color: #ffffff;
}
.button--light.button::after {
  background-color: #333333;
}

.button--dark {
  color: #ffffff;
  background-color: #333333;
}
.button--dark.button::after {
  background-color: #ffffff;
}

.button--link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.button--light.button:hover {
  color: #ffffff;
  background-color: #333333;
}
.button--light.button:hover.button::after {
  background-color: #ffffff;
}

.button--dark.button:hover {
  color: #333333;
  background-color: #f2f2f2;
}
.button--dark.button:hover.button::after {
  background-color: #333333;
}

.title {
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  color: #bdbdbd;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  padding-bottom: 0;
}

.logo {
  display: inline-block;
  padding: 30px 0 30px 0;
}

.logo__image {
  width: 70px;
  height: 44px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.navigation__item {
  margin-right: 58px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item--current {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.navigation__link {
  padding: 4px;
  color: #333333;
  font-family: TT Hoves;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.navigation__link:hover {
  color: #bdbdbd;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content-box {
  position: relative;
  width: 770px;
  height: 829px;
}

.hero__title {
  margin-bottom: 90px;
}

.hero__title--black {
  color: #333333;
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.hero__button-box {
  position: absolute;
  bottom: 0;
}

.swiper__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}

.swiper__button {
  display: block;
  padding: 14px;
  border: 1px solid #f2f2f2;
  background: #f9f9f9;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.swiper__button:first-child {
  margin-right: 22px;
}

.swiper__button:hover {
  cursor: pointer;
  background-color: #bdbdbd;
}

.swiper__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper__value {
  color: #bdbdbd;
  font-family: TT Hoves;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.swiper__element {
  width: 31px;
  height: 31px;
  margin: 0 25px;
}

.swiper__element-icon {
  width: 31px;
  height: 31px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.about__background {
  position: absolute;
  width: 100%;
  height: 435px;
  padding: 30px 0;
  background-color: #fbfbfb;
  z-index: -1;
}

.about__info {
  margin: 30px 70px 0 30px;
}

.about__image:first-child {
  margin-bottom: 30px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 100px;
  min-width: 570px;
  max-height: 435px;
}

.about__item:nth-child(1) {
  margin-bottom: 30px;
  margin-right: 30px;
}
.about__item:nth-child(3) {
  margin-top: 30px;
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 20px;
  font-family: TT Hoves;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  color: #000000;
}

.tasks__title {
  margin-bottom: 60px;
}

.tasks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tasks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasks__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -48px;
  margin-bottom: -48px;
  margin-right: 30px;
  font-family: SF Pro Display;
  font-size: 200px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  color: #f2f2f2;
}

.tasks__text {
  width: 280px;
  font-family: TT Hoves;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #333333;
}

.tasks__text--large {
  width: 420px;
}

.projects__title {
  margin-bottom: 60px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.projects__item {
  position: relative;
  margin-right: 30px;
  overflow: hidden;
}
.projects__item:nth-child(3n+2) {
  margin-right: 0;
}
.projects__item:nth-child(-n+2) {
  margin-bottom: 30px;
}

.projects__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.8;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.projects__item:hover .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects__overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects__overlay-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  font-family: TT Hoves;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  color: #ffffff;
  text-transform: uppercase;
}

.project__overlay-text--small {
  font-size: 42px;
  line-height: 42px;
}

.projects__overlay-button {
  padding: 2px 4px;
}

.projects__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.communication__container {
  padding-bottom: 120px;
}

.communication__title {
  margin-bottom: 22px;
}

.communication__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.communication__image {
  width: 749px;
  height: 372px;
}

.form {
  margin-right: 30px;
}

.form__box {
  position: relative;
  margin-bottom: 10px;
}

.form__box--textarea {
  margin-bottom: 22px;
}

.form__input {
  position: relative;
  width: 100%;
  padding: 14px 20px 14px 20px;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #333333;
  background-color: #f3f3f3;
  border: none;
  outline: none;
}

.form__input:focus + .form__label {
  display: none;
}

.form__label {
  position: absolute;
  top: 14px;
  left: 20px;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  color: #8d8d8d;
}

.form__required {
  color: #c30000;
}

.form__textarea {
  height: 146px;
  width: 390px;
  resize: none;
}

.form__notification {
  display: block;
  margin: 0 20px 22px auto;
  width: 330px;
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  color: #333333;
}

.hidden {
  display: none;
}

.footer {
  background-color: #2c2c2c;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 0;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.footer__title {
  margin-bottom: 25px;
  font-family: TT Hoves;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}

.footer__copyright {
  padding: 24px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__copyright-text {
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: rgba(200, 200, 200, 0.5);
}

.information__item {
  margin-bottom: 16px;
}
.information__item:last-child {
  margin-bottom: 0;
}

.information__link {
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: #fff;
}

.address__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.address__box:last-of-type {
  margin-bottom: 0;
}

.address__box--location {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.address__text {
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: #ffffff;
}

.address__text--location {
  margin-left: 19px;
}

.address__text--phone,
.address__text--email {
  margin-left: 14px;
}

.address__location-icon {
  margin-left: -4px;
  margin-right: -4px;
}

.address__email-icon {
  margin-left: -8px;
  margin-right: -6px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin-right: 20px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: background-color, 250ms linear;
  transition: background-color, 250ms linear;
}

.social__link:hover {
  background-color: #ffffff;
}

.social__link:hover .social__icon {
  fill: #2c2c2c;
}

.social__icon {
  fill: #ffffff;
  -webkit-transition: fill, 250ms linear;
  transition: fill, 250ms linear;
}/*# sourceMappingURL=main.css.map */