.communication__container {
  padding-bottom: 120px;
}

.communication__title {
  margin-bottom: 22px;
}

.communication__box {
  display: flex;
}

.communication__image {
  width: 749px;
  height: 372px;
}
