.information__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.information__link {
  font-family: TT Hoves;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;

  color: #fff;
}
