ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000000;
}

img,
svg {
  display: block;
}

button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}
